/* Write your CSS code here */
.blogListContainer {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .blogListContainer {
    margin: 0;
    padding: 0;
    margin: auto;
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
